@media screen and (max-width: 650px) {

.hostContainer{
    width: 30%;
    
    .hostName{
        font-size: 12px;
        margin-right: 5px;
    }
    img{
        width: 32px;
        height: 32px;
    }
}

}