//TABLET
@media screen and (max-width: 1280px) {
    .mainCarousel{
        margin-top: 0px;
        
        .carouselIndex{
            width: 38px;
            height: 38px;
            font-size: 16px;
            margin-top: 350px;
        }
        .carouselDiv{
            height: 400px;
        }
    }
}
//PHONE
@media screen and (max-width: 650px) {

.mainCarousel{
    margin-top: 0px;

    .arrowsContainer{
        .arrow{
            margin-right: 5px;
            margin-left: 5px;
            size: 20px;
            height: 25px;
        }
    }
    .carouselIndex{
        width: 25px;
        height: 25px;
        font-size: 12px;
        margin-top: 215px;
    }
    .carouselDiv{
        height: 250px;
        border-radius: 10px;

        img{
            border-radius: 10px;
        }
    }
}

}